/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#auth {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
    overflow: hidden;
    padding: 10px; /* Adicionei padding para evitar que o conteúdo encoste nas bordas */
   
}

h1 {
    color: #ffffff;
    font-size: 48px; /* Reduzi o tamanho para melhorar a legibilidade */
    margin-bottom: 30px; 
    text-align: center;
}

.login, .register {
    background-color: #1c1c1c;
    padding: 50px; /* Ajustei o padding para que seja mais confortável em diferentes telas */
    border-radius: 20px; 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); 
    width: 100%;  
    max-width: 500px; /* Diminuí o max-width para melhor adaptação em telas menores */
    margin-bottom: 20px;
}

.links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px; /* Ajustei a margem para melhor espaçamento */
}

.links a {
    color: #bbb;
    text-decoration: none;
    font-size: 18px; /* Reduzi o tamanho da fonte */
}

.links a.active {
    color: #ffffff;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    color: #ffffff;
    margin-bottom: 15px; /* Ajustei a margem para uma melhor organização */
    font-size: 18px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="file"] {
    padding: 15px; /* Ajustei o padding para melhorar a usabilidade */
    margin-bottom: 20px; 
    border: none;
    border-radius: 10px;
    background-color: #333333;
    color: #ffffff;
    font-size: 16px; 
    display: block;
}

input[type="file"] {
    padding: 10px; 
    background-color: #444444; 
    border: 1px solid #555555;
}

input[type="submit"] {
    padding: 15px; 
    background-color: #555;
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    font-size: 18px; 
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #777;
}

#legenda-image {
    color: #bbb;
    font-size: 16px; 
    margin-top: -5px; 
    margin-bottom: 20px; 
}

.msg {
    color: #ff4444;
    font-size: 18px; 
    margin-bottom: 30px; 
    text-align: center;
}

.alert {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    color: #ffffff;
}

.alert-heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.alert-body {
    font-size: 16px;
    margin: 0;
}

/* Responsive Design */
@media (max-width: 600px) {
    .login, .register {
        padding: 30px; 
        width: 100%;
    }

    h1 {
        font-size: 32px;
    }

    input[type="text"], input[type="password"], input[type="email"], input[type="file"], input[type="submit"] {
        font-size: 16px; 
        padding: 10px; 
    }

    input[type="submit"] {
        font-size: 16px;
    }

    .links a {
        font-size: 14px; 
    }

    label {
        font-size: 16px;
    }
}
